<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/menuBar_place.css">
</head>
<body>
<div class="menu-container">
    <div class="menu">
        <div class="home">
            <a href="/member/main">
                <img src="/img/home_white.png" alt="home" />
                <h6>홈</h6>
            </a>
        </div>

        <div class="crew">
            <a href="/crew/main">
                <img src="/img/crew.png" alt="crew" />
                <h6>모임</h6>
            </a>
        </div>

        <div class="placemap">
            <a href="/place/runningSpot">
                <img src="/img/place_pink.png" alt="placemap" />
                <h6 style="color: #e9b9b9">내 근처</h6>
            </a>
        </div>

        <div class="chat">
            <a href="/chat/room">
                <img
                        src="/img/chat.png"
                        alt="chat"
                        style="width: 30px; height: 30px"
                />
                <h6>채팅</h6>
            </a>
        </div>

        <div class="profile">
            <a href="/member/profile">
                <img src="/img/profile.png" alt="profile" />
                <h6>프로필</h6>
            </a>
        </div>
    </div>
</div>
</body>
</html>