<!DOCTYPE html>
<html lang="UTF-8">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>여기 가봤어?</title>
  <link rel="stylesheet" href="/css/place.css" />
</head>
<body>
<div class="header">
  <a href="/member/main"
  ><img src="/img/dorundorun.png" alt="icon" id="icon"
  /></a>
  <div class="right">
    <div class="map">
      <a th:if="${#strings.isEmpty(member.memberAddr1)}" href="/member/select_update">선호지역설정</a>
      <span th:if="${not #strings.isEmpty(member.memberAddr1)}" th:text="${member.memberAddr1}"></span>
    </div>
    <img src="/img/alert.png" alt="alert" id="alert" />
  </div>
</div>

<h2>여기 가봤어?</h2>

<div class="placeList">
  <div class="place" th:each="runningSpot : ${spot}">
    <a th:href="@{|/place/detail/${runningSpot.spotId}}">
      <div class="placeImg"></div>
      <div class="placeName" th:text="${runningSpot.spotName}" th:href="@{|/place/detail/${runningSpot.spotId}}"></div>
    </a>
  </div>


  <div th:include="menuBar_home.html" class="footer"></div>


  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var aElements = document.querySelectorAll(".placeName a");

      aElements.forEach(function (aElement) {
        var elementWidth = aElement.offsetWidth;

        // 현재 단어를 포함한 줄의 너비를 계산하는 함수
        function calculateLineWidth(text) {
          var canvas = document.createElement("canvas");
          var context = canvas.getContext("2d");
          context.font = window.getComputedStyle(aElement).font;
          return context.measureText(text).width;
        }

        var words = aElement.innerText.split(" ");
        var result = "";
        var currentLineWidth = 0;

        words.forEach(function (word, index) {
          var lineWithWord = currentLineWidth + calculateLineWidth(word);

          if (index > 0 && lineWithWord > elementWidth) {
            result += "";
            currentLineWidth = 0;
          }

          result += "<span>" + word + "</span> ";
          currentLineWidth += calculateLineWidth(word) + 5; // 5는 간격
        });

        aElement.innerHTML = result.trim();
      });
    });
  </script>
</body>
</html>
