body {
  width: 350px;
  padding: 40px;
  margin: 0;
  margin-top: 30px;
  height: auto;
  overflow-y: scroll;
}

#submit {
  width: 70px;
  border: 0;
  background-color: white;
  font-weight: bold;
  font-size: 25px;
  margin-left: 280px;
  margin-bottom: 20px;
}

.profileImg{
  margin-bottom: 80px;
}

form{
  margin-bottom: 10px;
  width: 348px;
  display: inline-flex;
}

/* 첫 번째 이미지 스타일 */
#imagePreview {
  position: relative; /* 절대적 위치 지정 */
  top: 0; /* 위쪽으로 0px 위치 */
  left: 100px; /* 왼쪽으로 0px 위치 */
  z-index: 2; /* 첫 번째 이미지를 위에 표시 */
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

/* 두 번째 이미지 스타일 */
#camera {
  position: relative; /* 절대적 위치 지정 */
  top: 15px; /* 위쪽으로 0px 위치 */
  left: 40px; /* 왼쪽으로 0px 위치 */
  z-index: 3; /* 두 번째 이미지를 위에 표시 */
  width: 70px;
  height: 70px;
}

.input-button {
  display: none;
}

input{
  width: 341px;
  height: 36px;
  border: 2px solid gray;
  border-radius: 8px;
  background-color: white;
  box-shadow: 2px 2px 2px lightgray;
}

button{
  border: 0;
  border-radius: 8px;
  background-color: #e9b9b9;
}

#postCodeButton{
  width: 100px;
  height: 36px;
  border-radius: 8px;
  border: 0;
  background-color: #e9b9b9;
}

.nickname{
  display: inline-flex;
}

#nickname{
  margin-right: 16px;
  width: 195px;
}

#confirmCode, #phoneNumber {
  margin-right: 16px;
  width: 230px;
}
#phoneNumberButton, #confirmCodeButton, #postCodeButton{
  width: 150px;
  height: 38px;
  box-shadow: 2px 2px 2px lightgray;
}
#memberNickname{
  width: 129px;
  height: 38px;
  box-shadow: 2px 2px 2px lightgray;
}

.postCode{
  display: inline-flex;
}

#sample6_postcode{
  margin-right: 20px;
  margin-bottom: 10px;
  width: 170px;
}

.address > input, #email{
  margin-bottom: 10px;
}

.accept > input{
  width: 171px;
  height: 38px;
  box-shadow: 2px 2px 2px lightgray;
  text-align: center;
  margin-top: 30px;
  border: 0;
  border-radius: 8px;
  background-color: #e9b9b9;
}

.menu-container {
  margin-bottom: 80px;
}

.menu {
  width: 430px;
  display: flex;
  position: fixed;
  bottom: 0;
  margin-left: -40px;
  justify-content: space-around;
}

.home,
.crew,
.placemap,
.chat,
.profile {
  display: inline-table;
}

.profile {
  width: 86px;
  height: 80px;
  margin: 0;
  padding: 0;
  background-color: white;
  align-items: center;
  text-align: center;
  border: 0;
  border-radius: 10px 10px 0 0;
  box-shadow: 3px 3px 3px black;
}

.crew,
.placemap,
.chat,
.home {
  width: 86px;
  height: 80px;
  margin: 0;
  padding: 0;
  background-color: #31c7cf;
  align-items: center;
  text-align: center;
  border: 0;
  border-radius: 10px 10px 0 0;
  box-shadow: 3px 3px 3px black;
}

.menu img {
  margin-top: 15px;
  filter: drop-shadow(2px 2px 2px #084b4e);
}

.menu h6 {
  color: white;
  text-shadow: 1px 1px 1px #084b4e;
  margin-top: 5px;
  margin-bottom: 5px;
}
