<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>boardUpdate</title>
    <link rel="stylesheet" href="/css/boardUpdate.css">
</head>
<body>
<form action="/board/update" method="post" name="updateForm">
    <input type="hidden" name="boardId" th:value="${board.boardId}">
    글 제목: <input type="text" name="boardTitle" th:value="${board.boardTitle}"> <br>
    카테고리: <select name="boardCategory" th:value="${board.boardCategory}">
                <option th:if="${role == 'ROLE_ADMIN'}">공지</option>
                <option>자유</option>
                <option>후기</option>
            </select> <br>
    글 내용: <textarea name="boardContent" cols="30" rows="10" th:text="${board.boardContent}"></textarea> <br>
    <input type="hidden" name="boardHits" th:value="${board.boardHits}">
    <input type="submit" value="수정">
</form>
</body>
</html>