<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>checkId</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
<span th:unless="${memberId}=='가입하신 계정이 없습니다.'">
    당신의 아이디는 <span th:text="${memberId}"></span> 입니다.
</span>
<span th:if="${memberId}=='가입하신 계정이 없습니다.'">
    <span th:text="${memberId}"></span>
</span>
<a href="/member/login">로그인하러 가기</a>
<a href="/member/join">회원가입하러 가기</a>
</body>
</html>