<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>crewBoardWriteForm</title>
</head>
<body>
<form th:action="@{'/crewBoard/write/' + ${crewId}}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <th>글 제목</th>
            <td><input type="text" name="crewBoardTitle"></td>
        </tr>
        <tr>
            <th>글 카테고리</th>
            <td>
                <select name="crewBoardCategory">
                    <option th:if="${isManager}">공지</option>
                    <option>자유</option>
                    <option>후기</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>글 내용</th>
            <td>
                <textarea name="crewBoardContent" cols="30" rows="10"></textarea>
            </td>
        </tr>
        <tr>
            <th>파일첨부</th>
            <td><input type="file" name="crewBoardFile" multiple></td>
        </tr>
        <tr>
            <td><input type="submit" value="글 작성"></td>
            <td><button onclick="window.location.back()">취소</button></td>
        </tr>
    </table>
</form>

<div th:include="menuBar_crew.html" class="footer"></div>
</body>
</html>