<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>crewDetail</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/crewDetail.css">

</head>
<body>
<span th:each="fileName: ${crewDTO.storedFileName}">
    <img
            class="image-upload-box"
            id="inputImage"
            src="/img/crewimage.png"
            alt="inputImage"
            th:src="@{|/upload/${fileName}|}"
    />
</span>

<div class="crewInfo">
    <h3 th:text="${crewDTO.crewName}"></h3>
    <div class="under">
        <img src="/img/people.png" alt="peopleImg">
        <p>
            <span th:text="${crewMember}"></span>
            /
            <span th:text="${crewDTO.crewLimit}"></span>명
        </p>
    </div>
</div>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">menu</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">홈</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{|/crewBoard/home/${crewDTO.crewId}|}">게시판</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{|/crewRunning/home/${crewDTO.crewId}|}">일정</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="crewDesc">
    <h4>소개</h4>
    <p th:text="${crewDTO.crewDesc}"></p>
</div>

<div class="myCrew">
    <div th:each="member:${crewMemberList}">
        <div class="crewAuth">
            <span th:text="${member.memberNickname}"></span><span th:text="${member.crewMemberAuth}"></span>
        </div>
    </div>

        <button th:unless="${isMember}" onclick="crewJoin()">모임 가입</button>
        <button th:if="${isMember} and ${!isAdmin}" onclick="quitCrew()">모임 탈퇴</button>
        <button th:if="${isManager}" onclick="crewMemberManage()">멤버 관리</button>
        <button th:if="${isManager}" onclick="crewUpdate()">크루 정보 수정</button>
        <button th:if="${isAdmin}" onclick="crewDelete()">크루 삭제</button>

</div>

<div id="firstCrewJoin" style="margin-top : 200px; display: none; position: fixed; z-index: 999; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4);">
    <div style="background-color: #fefefe; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 80%; max-width: 600px; text-align: center;">
        <span style="float: right; font-size: 28px; font-weight: bold; cursor: pointer;" onclick="closeFirstLoginModal()">&times;</span>
        <h2>배지 획득!</h2>
        <img src="/img/FirstCrewJoin.png" alt="첫 크루가입 배지" width="300px">
        <p>첫 크루가입 배지 획득!</p>
    </div>
</div>

<div th:include="menuBar_crew.html" class="footer"></div>


<script th:inline="javascript">
    const crewId = [[${crewDTO.crewId}]];

    $(function (){
        const isFirstCrew = [[${isFirstCrew}]];
        console.log(isFirstCrew);
        if(isFirstCrew){
            console.log(isFirstCrew);
            $('#firstCrewJoin').css('display','block');
        }
    });

    function closeFirstLoginModal() {
        $('#firstCrewJoin').hide();
    }

    const crewJoin = () =>{
        window.location.href = "/crew/join/"+crewId;
    }
    const crewMemberManage = () =>{
        window.location.href = "/crew/memberManage/"+crewId;
    }
    const crewUpdate = () =>{
        window.location.href = "/crew/update/"+crewId;
    }
    const crewDelete = () =>{
        window.location.href = "/crew/delete/"+crewId;
    }
    const quitCrew = () =>{
        window.location.href = "/crew/quitCrew/"+crewId;
    }
</script>
</body>
</html>