<!DOCTYPE html>
<html lang="UTF-8">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/hotCrew.css" />
  </head>
  <body>
    <div class="header">
        <a href="main.html"><img src="/img/dorundorun.png" alt="icon" id="icon" /></a>
      <div class="right">
        <div class="map">독산동</div>
        <img src="/img/alert.png" alt="alert" id="alert" />
      </div>
    </div>
    
      <h2>지금 핫🔥한 모임</h4>
        <br>
        <a href="runningCrew">
            <div class="crewinfo">
                <div class="img"></div>
                <div class="text">
                    <h3>관악 최강 러닝 크루(KKRC)</h3>
                    <p>관악구 러너들을 위한 정기모임입니다. 매주 1회 정기러닝을 실시하고 있습니다. 많은 참여 부탁드립니다!</p>
                    
                    <div class="info">
                        <div class="space">
                            <img src="/img/mapmarker.png" alt="space">
                            구로디지털단지역
                        </div>
                        <div class="np">
                            <img src="/img/people.png" alt="np">
                            24명 / 50명
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="runningCrew">
            <div class="crewinfo">
                <div class="img"></div>
                <div class="text">
                    <h3>관악 최강 러닝 크루(KKRC)</h3>
                    <p>관악구 러너들을 위한 정기모임입니다. 매주 1회 정기러닝을 실시하고 있습니다. 많은 참여 부탁드립니다!</p>
                    
                    <div class="info">
                        <div class="space">
                            <img src="/img/mapmarker.png" alt="space">
                            구로디지털단지역
                        </div>
                        <div class="np">
                            <img src="/img/people.png" alt="np">
                            24명 / 50명
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="runningCrew">
            <div class="crewinfo">
                <div class="img"></div>
                <div class="text">
                    <h3>관악 최강 러닝 크루(KKRC)</h3>
                    <p>관악구 러너들을 위한 정기모임입니다. 매주 1회 정기러닝을 실시하고 있습니다. 많은 참여 부탁드립니다!</p>
                        
                    <div class="info">
                        <div class="space">
                            <img src="/img/mapmarker.png" alt="space">
                            구로디지털단지역
                        </div>
                        <div class="np">
                            <img src="/img/people.png" alt="np">
                            24명 / 50명
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="runningCrew">
            <div class="crewinfo">
                <div class="img"></div>
                <div class="text">
                    <h3>관악 최강 러닝 크루(KKRC)</h3>
                    <p>관악구 러너들을 위한 정기모임입니다. 매주 1회 정기러닝을 실시하고 있습니다. 많은 참여 부탁드립니다!</p>
                            
                    <div class="info">
                        <div class="space">
                            <img src="/img/mapmarker.png" alt="space">
                            구로디지털단지역
                        </div>
                        <div class="np">
                            <img src="/img/people.png" alt="np">
                            24명 / 50명
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="runningCrew">
            <div class="crewinfo">
                <div class="img"></div>
                <div class="text">
                    <h3>관악 최강 러닝 크루(KKRC)</h3>
                    <p>관악구 러너들을 위한 정기모임입니다. 매주 1회 정기러닝을 실시하고 있습니다. 많은 참여 부탁드립니다!</p>
                                
                    <div class="info">
                        <div class="space">
                            <img src="/img/mapmarker.png" alt="space">
                            구로디지털단지역
                        </div>
                        <div class="np">
                            <img src="/img/people.png" alt="np">
                            24명 / 50명
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="runningCrew">
            <div class="crewinfo">
                <div class="img"></div>
                <div class="text">
                    <h3>관악 최강 러닝 크루(KKRC)</h3>
                    <p>관악구 러너들을 위한 정기모임입니다. 매주 1회 정기러닝을 실시하고 있습니다. 많은 참여 부탁드립니다!</p>
                                    
                    <div class="info">
                        <div class="space">
                            <img src="/img/mapmarker.png" alt="space">
                            구로디지털단지역
                        </div>
                        <div class="np">
                            <img src="/img/people.png" alt="np">
                            24명 / 50명
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="runningCrew">
            <div class="crewinfo">
                <div class="img"></div>
                <div class="text">
                    <h3>관악 최강 러닝 크루(KKRC)</h3>
                    <p>관악구 러너들을 위한 정기모임입니다. 매주 1회 정기러닝을 실시하고 있습니다. 많은 참여 부탁드립니다!</p>
                                        
                    <div class="info">
                        <div class="space">
                            <img src="/img/mapmarker.png" alt="space">
                            구로디지털단지역
                        </div>
                        <div class="np">
                            <img src="/img/people.png" alt="np">
                            24명 / 50명
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="runningCrew">
            <div class="crewinfo">
                <div class="img"></div>
                <div class="text">
                    <h3>관악 최강 러닝 크루(KKRC)</h3>
                    <p>관악구 러너들을 위한 정기모임입니다. 매주 1회 정기러닝을 실시하고 있습니다. 많은 참여 부탁드립니다!</p>
                                        
                    <div class="info">
                        <div class="space">
                            <img src="/img/mapmarker.png" alt="space">
                            구로디지털단지역
                        </div>
                        <div class="np">
                            <img src="/img/people.png" alt="np">
                            24명 / 50명
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="runningCrew">
            <div class="crewinfo">
                <div class="img"></div>
                <div class="text">
                    <h3>관악 최강 러닝 크루(KKRC)</h3>
                    <p>관악구 러너들을 위한 정기모임입니다. 매주 1회 정기러닝을 실시하고 있습니다. 많은 참여 부탁드립니다!</p>
                                        
                    <div class="info">
                        <div class="space">
                            <img src="/img/mapmarker.png" alt="space">
                            구로디지털단지역
                        </div>
                        <div class="np">
                            <img src="/img/people.png" alt="np">
                            24명 / 50명
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="runningCrew">
            <div class="crewinfo">
                <div class="img"></div>
                <div class="text">
                    <h3>관악 최강 러닝 크루(KKRC)</h3>
                    <p>관악구 러너들을 위한 정기모임입니다. 매주 1회 정기러닝을 실시하고 있습니다. 많은 참여 부탁드립니다!</p>
                                        
                    <div class="info">
                        <div class="space">
                            <img src="/img/mapmarker.png" alt="space">
                            구로디지털단지역
                        </div>
                        <div class="np">
                            <img src="/img/people.png" alt="np">
                            24명 / 50명
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="runningCrew">
            <div class="crewinfo">
                <div class="img"></div>
                <div class="text">
                    <h3>관악 최강 러닝 크루(KKRC)</h3>
                    <p>관악구 러너들을 위한 정기모임입니다. 매주 1회 정기러닝을 실시하고 있습니다. 많은 참여 부탁드립니다!</p>
                                        
                    <div class="info">
                        <div class="space">
                            <img src="/img/mapmarker.png" alt="space">
                            구로디지털단지역
                        </div>
                        <div class="np">
                            <img src="/img/people.png" alt="np">
                            24명 / 50명
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="runningCrew">
            <div class="crewinfo">
                <div class="img"></div>
                <div class="text">
                    <h3>관악 최강 러닝 크루(KKRC)</h3>
                    <p>관악구 러너들을 위한 정기모임입니다. 매주 1회 정기러닝을 실시하고 있습니다. 많은 참여 부탁드립니다!</p>
                                        
                    <div class="info">
                        <div class="space">
                            <img src="/img/mapmarker.png" alt="space">
                            구로디지털단지역
                        </div>
                        <div class="np">
                            <img src="/img/people.png" alt="np">
                            24명 / 50명
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a href="runningCrew">
            <div class="crewinfo">
                <div class="img"></div>
                <div class="text">
                    <h3>관악 최강 러닝 크루(KKRC)</h3>
                    <p>관악구 러너들을 위한 정기모임입니다. 매주 1회 정기러닝을 실시하고 있습니다. 많은 참여 부탁드립니다!</p>
                                        
                    <div class="info">
                        <div class="space">
                            <img src="/img/mapmarker.png" alt="space">
                            구로디지털단지역
                        </div>
                        <div class="np">
                            <img src="/img/people.png" alt="np">
                            24명 / 50명
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <div class="menu-container">
            <div class="menu">
                <div class="home">
                <a href="main.html">
                    <img src="/img/home_white.png" alt="home" />
                    <h6>홈</h6>
                </a>
                </div>
        
                <div class="crew">
                <a href="runningMain.html">
                    <img src="/img/crew_mint.png" alt="crew" />
                    <h6 style="color: #31c7cf">모임</h6>
                </a>
                </div>
        
                <div class="placemap">
                <a href="placeMap.html">
                    <img src="/img/place.png" alt="placemap" />
                    <h6>내 근처</h6>
                </a>
                </div>
        
                <div class="chat">
                <a href="chat.html">
                    <img
                    src="/img/chat.png"
                    alt="chat"
                    style="width: 30px; height: 30px"
                    />
                    <h6>채팅</h6>
                </a>
                </div>
        
                <div class="profile">
                <a href="profile.html">
                    <img src="/img/profile.png" alt="profile" />
                    <h6>프로필</h6>
                </a>
                </div>
            </div>
        </div>
    
  </body>
</html>
