<!DOCTYPE html>
<html lang="UTF-8">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/hotCrew.css" />
  </head>
  <body>
    <div class="header">
        <a href="main.html"><img src="/img/dorundorun.png" alt="icon" id="icon" /></a>
      <div class="right">
        <div class="map">독산동</div>
        <img src="/img/alert.png" alt="alert" id="alert" />
      </div>
    </div>
    
      <h2>지금 핫🔥한 모임</h4>
        <br>
          <div class="container">
              <!-- 크루 정보를 동적으로 출력 -->
              <div th:each="crew : ${crews}">
                  <a th:href="@{'/crew/' + ${crew.crewId}}">
                      <div class="crewinfo">
                          <div class="img"></div>
                          <div class="text">
                              <h3 th:text="${crew.crewName}"></h3>
                              <p th:text="${crew.crewDesc}"></p>

                              <div class="info">
                                  <div class="space">
                                      <img src="../static/img/mapmarker.png" alt="space">
                                      <span th:text="${crew.crewLocation}"></span>
                                  </div>
                                  <div class="np">
                                      <img src="../static/img/people.png" alt="np">
                                      <span th:text="${crew.currentMembers} + '명 / ' + ${crew.crewLimit} + '명'"></span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
    
  </body>
</html>
