<!DOCTYPE html>
<html lang="UTF-8">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/oneTimeHot.css">
  </head>
  <body>
    <div class="header">
        <a href="main.html"><img src="/img/dorundorun.png" alt="icon" id="icon" /></a>
        <div class="right">
          <div class="map">독산동</div>
          <img src="/img/alert.png" alt="alert" id="alert" />
        </div>
    </div>
      
    <h2>지금 핫🔥한 번개모임</h2>
    
    <div class="crewList">
        <div class="crewinfo">
            <a href="runningCrew.html">
                <div class="img"></div>
                    <div class="text">
                        <h3>관악 최강 러닝 크루(KKRC)</h3>
                        <p>2024/02/24(목) 19:00</p>
                        
                        <div class="info">
                            <div class="space">
                                <img src="../static/img/mapmarker.png" alt="space">
                                구로디지털단지역
                            </div>
                            <div class="np">
                                <img src="../static/img/people.png" alt="np">
                                24명 / 50명
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="crewinfo">
            <a href="runningCrew.html">
                <div class="img"></div>
                    <div class="text">
                        <h3>관악 최강 러닝 크루(KKRC)</h3>
                        <p>2024/02/24(목) 19:00</p>
                        
                        <div class="info">
                            <div class="space">
                                <img src="../static/img/mapmarker.png" alt="space">
                                구로디지털단지역
                            </div>
                            <div class="np">
                                <img src="../static/img/people.png" alt="np">
                                24명 / 50명
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="crewinfo">
            <a href="runningCrew.html">
                <div class="img"></div>
                    <div class="text">
                        <h3>관악 최강 러닝 크루(KKRC)</h3>
                        <p>2024/02/24(목) 19:00</p>
                        
                        <div class="info">
                            <div class="space">
                                <img src="../static/img/mapmarker.png" alt="space">
                                구로디지털단지역
                            </div>
                            <div class="np">
                                <img src="../static/img/people.png" alt="np">
                                24명 / 50명
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="crewinfo">
            <a href="runningCrew.html">
                <div class="img"></div>
                    <div class="text">
                        <h3>관악 최강 러닝 크루(KKRC)</h3>
                        <p>2024/02/24(목) 19:00</p>
                        
                        <div class="info">
                            <div class="space">
                                <img src="../static/img/mapmarker.png" alt="space">
                                구로디지털단지역
                            </div>
                            <div class="np">
                                <img src="../static/img/people.png" alt="np">
                                24명 / 50명
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="crewinfo">
            <a href="runningCrew.html">
                <div class="img"></div>
                    <div class="text">
                        <h3>관악 최강 러닝 크루(KKRC)</h3>
                        <p>2024/02/24(목) 19:00</p>
                        
                        <div class="info">
                            <div class="space">
                                <img src="../static/img/mapmarker.png" alt="space">
                                구로디지털단지역
                            </div>
                            <div class="np">
                                <img src="../static/img/people.png" alt="np">
                                24명 / 50명
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="crewinfo">
            <a href="runningCrew.html">
                <div class="img"></div>
                    <div class="text">
                        <h3>관악 최강 러닝 크루(KKRC)</h3>
                        <p>2024/02/24(목) 19:00</p>
                        
                        <div class="info">
                            <div class="space">
                                <img src="../static/img/mapmarker.png" alt="space">
                                구로디지털단지역
                            </div>
                            <div class="np">
                                <img src="../static/img/people.png" alt="np">
                                24명 / 50명
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="crewinfo">
            <a href="runningCrew.html">
                <div class="img"></div>
                    <div class="text">
                        <h3>관악 최강 러닝 크루(KKRC)</h3>
                        <p>2024/02/24(목) 19:00</p>
                        
                        <div class="info">
                            <div class="space">
                                <img src="../static/img/mapmarker.png" alt="space">
                                구로디지털단지역
                            </div>
                            <div class="np">
                                <img src="../static/img/people.png" alt="np">
                                24명 / 50명
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="crewinfo">
            <a href="runningCrew.html">
                <div class="img"></div>
                    <div class="text">
                        <h3>관악 최강 러닝 크루(KKRC)</h3>
                        <p>2024/02/24(목) 19:00</p>
                        
                        <div class="info">
                            <div class="space">
                                <img src="../static/img/mapmarker.png" alt="space">
                                구로디지털단지역
                            </div>
                            <div class="np">
                                <img src="../static/img/people.png" alt="np">
                                24명 / 50명
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="crewinfo">
            <a href="runningCrew.html">
                <div class="img"></div>
                    <div class="text">
                        <h3>관악 최강 러닝 크루(KKRC)</h3>
                        <p>2024/02/24(목) 19:00</p>
                        
                        <div class="info">
                            <div class="space">
                                <img src="../static/img/mapmarker.png" alt="space">
                                구로디지털단지역
                            </div>
                            <div class="np">
                                <img src="../static/img/people.png" alt="np">
                                24명 / 50명
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="crewinfo">
            <a href="runningCrew.html">
                <div class="img"></div>
                    <div class="text">
                        <h3>관악 최강 러닝 크루(KKRC)</h3>
                        <p>2024/02/24(목) 19:00</p>
                        
                        <div class="info">
                            <div class="space">
                                <img src="../static/img/mapmarker.png" alt="space">
                                구로디지털단지역
                            </div>
                            <div class="np">
                                <img src="../static/img/people.png" alt="np">
                                24명 / 50명
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="crewinfo">
            <a href="runningCrew.html">
                <div class="img"></div>
                    <div class="text">
                        <h3>관악 최강 러닝 크루(KKRC)</h3>
                        <p>2024/02/24(목) 19:00</p>
                        
                        <div class="info">
                            <div class="space">
                                <img src="../static/img/mapmarker.png" alt="space">
                                구로디지털단지역
                            </div>
                            <div class="np">
                                <img src="../static/img/people.png" alt="np">
                                24명 / 50명
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="crewinfo">
            <a href="runningCrew.html">
                <div class="img"></div>
                    <div class="text">
                        <h3>관악 최강 러닝 크루(KKRC)</h3>
                        <p>2024/02/24(목) 19:00</p>
                        
                        <div class="info">
                            <div class="space">
                                <img src="../static/img/mapmarker.png" alt="space">
                                구로디지털단지역
                            </div>
                            <div class="np">
                                <img src="../static/img/people.png" alt="np">
                                24명 / 50명
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="crewinfo">
            <a href="runningCrew.html">
                <div class="img"></div>
                    <div class="text">
                        <h3>관악 최강 러닝 크루(KKRC)</h3>
                        <p>2024/02/24(목) 19:00</p>
                        
                        <div class="info">
                            <div class="space">
                                <img src="../static/img/mapmarker.png" alt="space">
                                구로디지털단지역
                            </div>
                            <div class="np">
                                <img src="../static/img/people.png" alt="np">
                                24명 / 50명
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="crewinfo">
            <a href="runningCrew.html">
                <div class="img"></div>
                    <div class="text">
                        <h3>관악 최강 러닝 크루(KKRC)</h3>
                        <p>2024/02/24(목) 19:00</p>
                        
                        <div class="info">
                            <div class="space">
                                <img src="../static/img/mapmarker.png" alt="space">
                                구로디지털단지역
                            </div>
                            <div class="np">
                                <img src="../static/img/people.png" alt="np">
                                24명 / 50명
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="crewinfo">
            <a href="runningCrew.html">
                <div class="img"></div>
                    <div class="text">
                        <h3>관악 최강 러닝 크루(KKRC)</h3>
                        <p>2024/02/24(목) 19:00</p>
                        
                        <div class="info">
                            <div class="space">
                                <img src="../static/img/mapmarker.png" alt="space">
                                구로디지털단지역
                            </div>
                            <div class="np">
                                <img src="../static/img/people.png" alt="np">
                                24명 / 50명
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="crewinfo">
            <a href="runningCrew.html">
                <div class="img"></div>
                    <div class="text">
                        <h3>관악 최 (KKRC)</h3>
                        <p>2024/02/24(목) 19:00</p>
                        
                        <div class="info">
                            <div class="space">
                                <img src="../static/img/mapmarker.png" alt="space">
                                구로디지털단지역
                            </div>
                            <div class="np">
                                <img src="../static/img/people.png" alt="np">
                                24명 / 50명
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="crewinfo">
            <a href="runningCrew.html">
                <div class="img"></div>
                    <div class="text">
                        <h3>관악 최강 러닝 크루(KKRC)</h3>
                        <p>2024/02/24(목) 19:00</p>
                        
                        <div class="info">
                            <div class="space">
                                <img src="../static/img/mapmarker.png" alt="space">
                                구로디지털단지역
                            </div>
                            <div class="np">
                                <img src="../static/img/people.png" alt="np">
                                24명 / 50명
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    
    
        <div class="menu-container">
            <div class="menu">
              <div class="home">
                <a href="main.html">
                  <img src="../static/img/home_white.png" alt="home" />
                  <h6>홈</h6>
                </a>
              </div>
      
              <div class="crew">
                <a href="runningMain.html">
                  <img src="../static/img/crew_mint.png" alt="crew" />
                  <h6  style="color: #31c7cf">모임</h6>
                </a>
              </div>
      
              <div class="placemap">
                <a href="placeMap.html">
                  <img src="../static/img/place.png" alt="placemap" />
                  <h6>내 근처</h6>
                </a>
              </div>
      
              <div class="chat">
                <a href="chat">
                  <img
                    src="../static/img/chat.png"
                    alt="chat"
                    style="width: 30px; height: 30px"
                  />
                  <h6>채팅</h6>
                </a>
              </div>
      
              <div class="profile">
                <a href="profile.html">
                  <img src="../static/img/profile.png" alt="profile" />
                  <h6>프로필</h6>
                </a>
              </div>
            </div>
        </div>
    </body>
    </html>
