<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
      }

      .image-upload-box {
        background-color: lightgray;
        height: 30px;
        width: 290px;
        padding: 70px;
        cursor: pointer;
      }

      span {
        margin-left: 50px;
        vertical-align: middle;
        color: rgb(78, 70, 70);
      }

      .image-upload-box:hover {
        background-color: #f0f0f0;
      }

      #crew-image {
        display: none; /* 파일 업로드 input을 감춤 */
      }

      .crewNameInput {
        border: 0;
        border-bottom: 2px solid gray;
        width: 350px;
        margin-left: 40px;
        margin-top: 70px;
      }

      .crewNameInput > input {
        border: 0;
        font-size: 20px;
        margin-left: 10px;
      }
    </style>
  </head>
  <body>
  <form id="crew-form">
    <!-- 크루 대표 이미지 -->
    <div
            class="image-upload-box"
            onclick="document.getElementById('crew-image').click()"
    >
      <br /><br />
      <span id="preview-text">대표 이미지를 등록하세요.</span>
      <br /><br />
      <img
              id="inputImage"
              src="../static/img/crewimage.png"
              alt="inputImage"
      />

      <img
              id="preview-image"
              src="#"
              alt="미리보기 이미지"
              style="display: none"
      />
    </div>
    <input
            type="file"
            id="crew-image"
            name="crew-image"
            accept="image/*"
            required
            onchange="previewImage(event)"
    />

    <!-- 크루명 -->
    <div class="crewNameInput">
      <input
              type="text"
              id="crew-name"
              name="crew-name"
              placeholder="크루 이름을 입력해주세요."
      />
      <button id="checkCrewNameBtn">중복 확인</button>
    </div>

    <!-- 카테고리 -->
    <div class="category">
      <div class="left_category">
        <img
                id="categoryImg"
                src="../static/img/category.png"
                alt="category"
        />
        <button class="openModalBtn">종목</button>
      </div>
      <div class="right_category">
        <button class="openModalBtn">선택</button>
      </div>
      <div id="selectSubject" class="select">
        <div class="select-content">
          <span class="closeCategory">&times;</span>
          <input
                  type="text"
                  id="searchCategoryInput"
                  placeholder="종목 검색"
          />
          <ul id="category">
            <li>러닝</li>
            <li>풋살</li>
            <li>농구</li>
            <li>배드민턴</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- 위치 -->
    <div class="area">
      <div class="left_area">
        <img id="areaImg" src="../static/img/area.png" alt="area" />
        <button class="openAreaModal">지역</button>
      </div>
      <div class="right_area">
        <button class="openAreaModal">선택</button>
      </div>
      <div id="selectArea" class="select">
        <div class="select-content">
          <span class="closeArea">&times;</span>
          <input type="text" id="searchAreaInput" placeholder="위치 선택" />
          <ul id="area">
            <li>구로디지털단지역</li>
            <li>구로역</li>
            <li>사당역</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- 정원 선택 -->
    <div class="maxPeople">
      <div class="left_maxPeople">
        <img
                id="maxPeopleImg"
                src="../static/img/maxPeopleImg.png"
                alt="maxPeople"
        />
        <button class="openMaxPeopleModal">정원</button>
      </div>
      <div class="right_maxPeople">
        <button class="openMaxPeopleModal">선택</button>
      </div>
      <div id="selectMaxPeople" class="select">
        <div class="select-content">
          <span class="closePeople">&times;</span>
          <input
                  type="number"
                  id="searchPeopleInput"
                  placeholder="정원 선택"
          />&nbsp;&nbsp;명
          <button id="confirm">확인</button>
        </div>
      </div>
    </div>
    <!-- 모임 소개 -->
    <div class="introduceCrew" name="crew-desc">
        <textarea
                id="introduce"
                placeholder="모임을 소개해 주세요."
                rows="4"
        ></textarea>
    </div>
  </form>
  <div class="accept">
    <button type="button" id="openCrewAccept">크루 개설하기</button>
  </div>

  <script>
    document
            .getElementById("crew-form")
            .addEventListener("submit", function (event) {
              event.preventDefault(); // 폼 제출 기본 동작 방지

              // 폼 데이터 가져오기
              var formData = new FormData(document.getElementById("crew-form"));

              // FormData에 이미지 파일이 있는지 확인
              if (formData.has("crew-image")) {
                // 이미지 파일 가져오기
                var imageFile = formData.get("crew-image");
              }
            });

    // 이미지 첨부 후 첨부 파일 나오게 하기
    function previewImage(event) {
      var input = event.target;
      var reader = new FileReader();

      reader.onload = function () {
        var previewImage = document.getElementById("preview-image");
        var previewText = document.getElementById("preview-text");
        var imageUploadBox = document.querySelector(".image-upload-box");

        previewImage.src = reader.result;
        previewImage.style.display = "block";
        previewText.style.display = "none";

        // 이미지의 실제 크기를 가져옴
        var img = new Image();
        img.src = reader.result;
        img.onload = function () {
          // 이미지를 넣을 box의 너비를 구하고, 너비에 맞게 높이를 조절
          var boxWidth = imageUploadBox.offsetWidth;

          // 이미지의 크기를 CSS를 사용하여 조절
          previewImage.style.width = "430px"; // 이미지를 부모 요소에 맞게 100%로 설정
          previewImage.style.height = "170px"; // 이미지의 높이를 가로 비율에 맞게 자동으로 조절
        };
      };
      reader.readAsDataURL(input.files[0]);
    }

    //크루 이름
    document.getElementById("crew-name").addEventListener("change", function () {
      var crewName = document.getElementById("crew-name").value;
      console.log("크루 이름 :", crewName);
    });

    //크루 이름 중복 유효성 검사
    document
            .getElementById("checkCrewNameBtn")
            .addEventListener("click", function () {
              var crewNameInput = document.getElementById("crew-name").value;

              // 크루 이름 중복 확인 로직
              // 이미 등록된 크루 이름을 확인하는 Ajax 요청 등이 필요함

              if (crewNameInput === "") {
                alert("크루 이름을 입력해주세요.");
                return;
              }

              // 크루 이름 유효성 검사
              // 여기서는 간단하게 길이가 3글자 이상이어야 한다고 가정
              if (crewNameInput.length < 3) {
                alert("크루 이름은 최소 3글자 이상이어야 합니다.");
                return;
              }

              // 유효성 검사를 모두 통과하면 중복되지 않은 크루 이름임을 알림
              alert("사용 가능한 크루 이름입니다.");
            });

    //카테고리 선택 팝업
    var openModalBtns = document.getElementsByClassName("openModalBtn");
    for (var i = 0; i < openModalBtns.length; i++) {
      openModalBtns[i].addEventListener("click", function () {
        document.getElementById("selectSubject").style.display = "block";
      });
    }

    // 카테고리 팝업 닫기
    document
            .getElementsByClassName("closeCategory")[0]
            .addEventListener("click", function () {
              document.getElementById("selectSubject").style.display = "none";
            });

    // 카테고리 검색 기능 구현
    document
            .getElementById("searchCategoryInput")
            .addEventListener("keyup", function () {
              var input, filter, ul, li, i, txtValue;
              input = document.getElementById("searchCategoryInput");
              filter = input.value.toUpperCase();
              ul = document.getElementById("category");
              li = ul.getElementsByTagName("li");
              for (i = 0; i < li.length; i++) {
                txtValue = li[i].textContent || li[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  li[i].style.display = "";
                } else {
                  li[i].style.display = "none";
                }
              }
            });

    // 카테고리 선택
    document.getElementById("category").addEventListener("click", function (e) {
      var selectedCategory = e.target.textContent;
      console.log("카테고리:", selectedCategory);

      // 선택 부분 업데이트
      var selectedElement = document.querySelector(".right_category button");
      selectedElement.textContent = selectedCategory;

      document.getElementById("selectSubject").style.display = "none"; // 팝업 닫기
    });

    //위치 선택 팝업
    var openModalBtns = document.getElementsByClassName("openAreaModal");
    for (var i = 0; i < openModalBtns.length; i++) {
      openModalBtns[i].addEventListener("click", function () {
        document.getElementById("selectArea").style.display = "block";
      });
    }

    // 위치 팝업 닫기
    document
            .getElementsByClassName("closeArea")[0]
            .addEventListener("click", function () {
              document.getElementById("selectArea").style.display = "none";
            });

    // 위치 검색 기능 구현
    document
            .getElementById("searchAreaInput")
            .addEventListener("keyup", function () {
              var input, filter, ul, li, i, txtValue;
              input = document.getElementById("searchAreaInput");
              filter = input.value.toUpperCase();
              ul = document.getElementById("area");
              li = ul.getElementsByTagName("li");
              for (i = 0; i < li.length; i++) {
                txtValue = li[i].textContent || li[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                  li[i].style.display = "";
                } else {
                  li[i].style.display = "none";
                }
              }
            });

    // 위치 선택
    document.getElementById("area").addEventListener("click", function (e) {
      var selectedArea = e.target.textContent;
      console.log("위치:", selectedArea);

      // 선택 부분 업데이트
      var selectedElement = document.querySelector(".right_area button");
      selectedElement.textContent = selectedArea;

      document.getElementById("selectArea").style.display = "none"; // 팝업 닫기
    });

    // 정원 선택 팝업
    var openMaxPeopleBtns = document.getElementsByClassName("openMaxPeopleModal");
    for (var i = 0; i < openMaxPeopleBtns.length; i++) {
      openMaxPeopleBtns[i].addEventListener("click", function () {
        document.getElementById("selectMaxPeople").style.display = "block";
      });
    }

    // 정원 팝업 닫기
    document.getElementById("confirm").addEventListener("click", function () {
      document.getElementById("selectMaxPeople").style.display = "none";
    });
    document.querySelector(".closePeople").addEventListener("click", function () {
      document.getElementById("selectMaxPeople").style.display = "none";
    });
    // 정원 선택 이벤트
    document
            .getElementById("searchPeopleInput")
            .addEventListener("change", function () {
              var maxPeopleInput = document.getElementById("searchPeopleInput");
              var maxPeople = parseInt(maxPeopleInput.value); // 입력된 값 숫자로 변환

              if (maxPeople > 20) {
                alert("정원은 20명 이하로 설정해주세요."); // 20 이상인 경우 경고 표시
                maxPeopleInput.value = 20; // 입력된 값이 20 초과이면 최댓값인 20으로 변경
                maxPeople = 20; // maxPeople 변수도 최댓값인 20으로 설정
              }
              console.log("정원:", maxPeople);

              // 회원 수 업데이트
              var maxPeopleElement = document.querySelector(".right_maxPeople button");
              maxPeopleElement.textContent = maxPeople;

              document.getElementById("selectMaxPeople").style.display = "none"; // 팝업 닫기
            });

    //모임 소개
    document.querySelector(".closePeople").addEventListener("click", function () {
      document.getElementById("selectMaxPeople").style.display = "none";
    });

  </script>
  </body>
</html>
