<!DOCTYPE html>
<html lang="UTF-8">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/runningMain.css" />
    <title>Document</title>
  </head>
  <body>
    <a href="openCrew.html" id="banner">
      <div class="open">
        <img src="/img/plus.png" alt="plus" />
        <p>직접 러닝 크루를 개설해보세요!</p>
      </div>
    </a>

    <div class="myCrew">
      <h3>내 크루</h3>
      <div class="list">
        <div class="myCrewList">
          <div class="img"></div>
          <div class="crewName">도림천 크루 지금당장달려</div>
        </div>

        <div class="myCrewList">
          <div class="img"></div>
          <div class="crewName">도림천 크루 지금당장달려</div>
        </div>

        <div class="myCrewList">
          <div class="img"></div>
          <div class="crewName">도림천 크루 지금당장달려</div>
        </div>

        <div class="myCrewList">
          <div class="img"></div>
          <div class="crewName">도림천 크루 지금당장달려</div>
        </div>

        <div class="myCrewList">
          <div class="img"></div>
          <div class="crewName">도림천 크루 지금당장달려</div>
        </div>
      </div>
    </div>

    <div class="line"></div>

    <div class="search">
      <input type="text" id="search-box" placeholder="검색어를 입력하세요" />
      <button id="search-button"></button>
    </div>

    <div class="hotCrew">
      <h3>내 주변 인기 크루</h3>
      <a href="runningCrew">
        <div class="crewinfo">
          <div class="img"></div>
          <div class="text">
            <h3 class="name">관악 최강 러닝 크루(KKRC)</h3>
            <p class="introduce">
              관악구 러너들을 위한 정기모임입니다. 매주 1회 정기러닝을 실시하고
              있습니다. 많은 참여 부탁드립니다!
            </p>

            <div class="info">
              <div class="space">
                <img src="/img/mapmarker.png" alt="space" />
                구로디지털단지역
              </div>
              <div class="np">
                <img src="/img/people.png" alt="np" />
                24명 / 50명
              </div>
            </div>
          </div>
        </div>
      </a>

      <a href="runningCrew">
        <div class="crewinfo">
          <div class="img"></div>
          <div class="text">
            <h3 class="name">관악 최강 러닝 크루(KKRC)</h3>
            <p class="introduce">
              관악구 러너들을 위한 정기모임입니다. 매주 1회 정기러닝을 실시하고
              있습니다. 많은 참여 부탁드립니다!
            </p>

            <div class="info">
              <div class="space">
                <img src="/img/mapmarker.png" alt="space" />
                구로디지털단지역
              </div>
              <div class="np">
                <img src="/img/people.png" alt="np" />
                24명 / 50명
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="newCrew">
      <h3>새로 생겼어요</h3>
      <a href="runningCrew">
        <div class="crewinfo">
          <div class="img"></div>
          <div class="text">
            <h3 class="name">관악 2030 러닝 크루</h3>
            <p class="introduce">
              관악구 거주 2030을 위한 러닝크루입니다! 가입 후 자기소개 반드시
              부탁드립니다~
            </p>

            <div class="info">
              <div class="space">
                <img src="/img/mapmarker.png" alt="space" />
                서울대입구역
              </div>
              <div class="np">
                <img src="/img/people.png" alt="np" />
                12명 / 50명
              </div>
            </div>
          </div>
        </div>
      </a>

      <a href="runningCrew">
        <div class="crewinfo">
          <div class="img"></div>
          <div class="text">
            <h3 class="name">사당행 러닝 크루 (SRC)</h3>
            <p class="introduce">
              사당역을 거점으로 모여서 함께 달리는 러닝크루입니다. 가입인사 작성
              필수입니다!!
            </p>

            <div class="info">
              <div class="space">
                <img src="/img/mapmarker.png" alt="space" />
                사당역
              </div>
              <div class="np">
                <img src="/img/people.png" alt="np" />
                22명 / 30명
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="menu-container">
      <div class="menu">
        <div class="home">
          <a href="main.html">
            <img src="/img/home_white.png" alt="home" />
            <h6>홈</h6>
          </a>
        </div>

        <div class="crew">
          <a href="runningMain.html">
            <img src="/img/crew_mint.png" alt="crew" />
            <h6 style="color: #31c7cf">모임</h6>
          </a>
        </div>

        <div class="placemap">
          <a href="placeMap.html">
            <img src="/img/place.png" alt="placemap" />
            <h6>내 근처</h6>
          </a>
        </div>

        <div class="chat">
          <a href="chat">
            <img
              src="/img/chat.png"
              alt="chat"
              style="width: 30px; height: 30px"
            />
            <h6>채팅</h6>
          </a>
        </div>

        <div class="profile">
          <a href="profile.html">
            <img src="/img/profile.png" alt="profile" />
            <h6>프로필</h6>
          </a>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var pElements = document.querySelectorAll(".open p");

        h6Elements.forEach(function (pElement) {
          var elementWidth = pElement.offsetWidth;

          // 현재 단어를 포함한 줄의 너비를 계산하는 함수
          function calculateLineWidth(text) {
            var canvas = document.createElement("canvas");
            var context = canvas.getContext("2d");
            context.font = window.getComputedStyle(pElement).font;
            return context.measureText(text).width;
          }

          var words = pElement.innerText.split(" ");
          var result = "";
          var currentLineWidth = 0;

          words.forEach(function (word, index) {
            var lineWithWord = currentLineWidth + calculateLineWidth(word);

            if (index > 0 && lineWithWord > elementWidth) {
              result += "";
              currentLineWidth = 0;
            }

            result += "<span>" + word + "</span> ";
            currentLineWidth += calculateLineWidth(word) + 5; // 5는 간격
          });

          pElement.innerHTML = result.trim();
        });
      });
    </script>
  </body>
</html>
