<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>updateForm</title>
    <link rel="stylesheet" href="/css/updateForm.css"/>
</head>
<body>
<button type="submit" id="submit">완료</button>
<br/>

<!-- 프로필 사진 -->
<div class="profileImg">
   <label for="profileImg" class="update-input" id="imagePreviewLabel">
        <img
                id="imagePreview"
                src="/img/profileImg.png"
                alt="First Image"
        />
    </label>
    <img
            src="/img/profileUpload.png"
            alt="Second Image"
            id="camera"
    />
    <input
            type="file"
            id="profileImg"
            name="profileImg"
            class="input-button"
            onchange="previewImage(event)"
            accept="image/*"
    />
</div>
<div class="memberInfo">

    <form>
        <!--닉네임-->
        <div class="nickname">
            <input
                    id="nickname"
                    type="text"
                    th:value="${member.memberNickname}"
                    name="memberNickname"
                    placeholder="닉네임"
            />
          <p id="checkNicknameResult"></p>
        </div>
    </form>

    <!-- 연락처 -->
    <form>
        <input id="phoneNumber" placeholder="휴대전화 입력"/>
        <button id="phoneNumberButton">인증번호 전송</button>
    </form>

    <form>
        <input id="confirmCode" placeholder="인증번호 입력"/>
        <button id="confirmCodeButton">인증 확인</button>
    </form>

    <!--비밀번호 변경-->
    <form id="registerForm" onsubmit="submitForm(event)">
        <div class="passwordInput">
            <input type="password" id="password" name="password" placeholder="현재 비밀번호" required>
        </div>
        <div class="passwordCheck" style="display:none">
            <input type="password" id="passwordCheck" name="passwordCheck" placeholder="새로운 비밀번호" required>
            <span id="passwordError" class="error"></span>
        </div>
    </form>

    <!--이메일-->
    <div class="email">
        <input type="email" id=email placeholder="이메일">
    </div>


    <!--주소-->
    <div class="address">
      <div class="postCode">
        <input
                th:value="${member.memberPostCode}"
                type="text"
                id="sample6_postcode"
                name="memberPostCode"
                placeholder="우편번호"
        />
        <input
                type="button"
                id="postCodeButton"
                onclick="sample6_execDaumPostcode()"
                value="우편번호 찾기"
        />
      </div>
        <input
                th:value="${member.memberAddr}"
                type="text"
                id="sample6_address"
                name="memberAddr"
                placeholder="주소"
                onclick="sample6_execDaumPostcode()"
                readonly
        />
        <input
                th:value="${member.memberDetailAddr}"
                type="text"
                id="sample6_detailAddress"
                name="memberDetailAddr"
                placeholder="상세주소"
        />
        <input
                th:value="${member.memberRefAddr}"
                type="text"
                id="sample6_extraAddress"
                name="memberRefAddr"
                placeholder="참고주소"
                onclick="sample6_execDaumPostcode()"
                readonly
        />
    </div>

    <div class="accept">
        <input
                type="submit"
                onclick="confirm('정말로 수정하시겠습니까?')"
                value="수정"
        />
        <input type="reset" onclick="window.location.back()" value="뒤로 가기"/>
    </div>

</div>

<div th:include="menuBar_profile.html" class="footer"></div>

</body>


<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/js/updateForm.js"></script>
<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-analytics.js";
    import {
        getAuth,
        GoogleAuthProvider,
        signInWithPhoneNumber,
        RecaptchaVerifier,
    } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-auth.js";

    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
        apiKey: "AIzaSyBkZl36adPngWU_hgs7b3NZMaHuKPSR7jo",
        authDomain: "dorundorun-87553.firebaseapp.com",
        databaseURL: "https://dorundorun-87553-default-rtdb.asia-southeast1.firebasedatabase.app",
        projectId: "dorundorun-87553",
        storageBucket: "dorundorun-87553.appspot.com",
        messagingSenderId: "912002351436",
        appId: "1:912002351436:web:2015c757f841a7945a8fe9",
        measurementId: "G-X68SDDQR69"
    };

    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const analytics = getAnalytics(app);

    const provider = new GoogleAuthProvider();
    const auth = getAuth();
    auth.languageCode = "ko";

    document.getElementById("googleLogin").addEventListener("click", () => {
        signInWithPopup(auth, provider)
            .then((result) => {
                // This gives you a Google Access Token. You can use it to access the Google API.
                const credential = GoogleAuthProvider.credentialFromResult(result);
                const token = credential.accessToken;
                // The signed-in user info.
                const user = result.user;
                console.log(result);
                // ...
            })
            .catch((error) => {
                // Handle Errors here.
                const errorCode = error.code;
                const errorMessage = error.message;
                // The email of the user's account used.
                const email = error.customData.email;
                // The AuthCredential type that was used.
                const credential = GoogleAuthProvider.credentialFromError(error);
                console.log(error);
                // ...
            });
    });
    window.recaptchaVerifier = new RecaptchaVerifier(
        "phoneNumberButton",
        {
            size: "invisible",
            callback: (response) => {
                // reCAPTCHA solved, allow signInWithPhoneNumber.
                onSignInSubmit();
            },
        },
        auth
    );

    document
        .getElementById("phoneNumberButton")
        .addEventListener("click", (event) => {
            event.preventDefault();

            const phoneNumber = document.getElementById("phoneNumber").value;
            const appVerifier = window.recaptchaVerifier;

            signInWithPhoneNumber(auth, "+82" + phoneNumber, appVerifier)
                .then((confirmationResult) => {
                    // SMS sent. Prompt user to type the code from the message, then sign the
                    // user in with confirmationResult.confirm(code).
                    window.confirmationResult = confirmationResult;
                    console.log(confirmationResult);
                    // ...
                })
                .catch((error) => {
                    console.log(error);
                    // Error; SMS not sent
                    // ...
                });
        });

    document
        .getElementById("confirmCodeButton")
        .addEventListener("click", (event) => {
            event.preventDefault();
            const code = document.getElementById("confirmCode").value;
            confirmationResult
                .confirm(code)
                .then((result) => {
                    // User signed in successfully.
                    const user = result.user;
                    console.log(result);
                    // ...
                })
                .catch((error) => {
                    console.log(error);
                    // User couldn't sign in (bad verification code?)
                    // ...
                });
        });
</script>

</html>
